/**
*  This file is layout to responsive
*
* @package Articled
* @since Articled 1.0
*
*/

@media(min-width:1281px) {}

@media(min-width:1025px)and(max-width:1280px) {}

@media(min-width:768px)and(max-width:1024px)and(orientation:landscape) {
    .post-thumbnail img {
        height: 350px!important
    }
}

@media(min-width:481px)and(max-width:767px) {
    .post-thumbnail img {
        height: 330px!important
    }
    .scrollTop {
        position: fixed;
        right: 40px;
        bottom: 60px;
        transition: opacity 0.6s ease-in-out;
        opacity: 0
    }
}

@media screen and(min-width:480px) {
    .searcharea.searchbox {
        font: 20px 'Montserrat', sans-serif;
        height: 50px;
        padding-left: 15px
    }
}

@media screen and(max-width:480px) {
    body.body-data {
        width: 95%
    }
    #main-content.container {
        padding: 10px
    }
    header>.container {
        padding-left: 0;
        padding-right: 0
    }
    .top-bar.main-menu-wrap {
        margin: 0!important;
        max-width: 100%!important
    }
    .top-nav.menu-item-has-children>.sub-menu {
        position: static!important;
        z-index: auto;
        width: 100%;
        background: inherit;
        border: 0;
        box-shadow: 0 0 0
    }
    .show-mobile {
        display: block;
        cursor: pointer
    }
    .show-mobile:hover,
    .show-mobile:focus {
        background-color: black;
        color: white!important;
        padding: 0 10px
    }
    .show-mobile::after {
        content: '';
        display: table;
        clear: both
    }
    .mobile-menu {
        display: none
    }
    .toggle-btn {}
    .topest {
        width: 100%;
        max-height: 100%;
        padding: 10px 0 0 0
    }
    .topest.top-bar {
        background-color: rgba(185, 185, 185, 0.1)
    }
    .top-mobile {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 18px
    }
    .top-mobile::after {
        content: '';
        display: table;
        clear: both
    }
    .top-mobile.pull-right {
        cursor: pointer;
        transition: all 0.3s
    }
    .top-mobile.hide {
        display: none;
        transition: all 0.3s
    }
    .top-bar.main-menu-wrap,
    .top-bar.social-icon {
        display: none;
        width: 100%
    }
    .topest.main-menu {
        float: none
    }
    .top-nav nav ul {
        max-height: 180px;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, .08)
    }
    .top-nav nav ul li {
        padding: 10px 5px 7px;
        font-size: 14px;
        text-align: left;
        display: block
    }
    ul li.sub-menu {
        margin-left: 10px!important
    }
    .menu-item-has-children.sub-menu {
        display: block!important
    }
    .top-bar>.pull-left {
        float: none
    }
    .top-bar>.pull-right {
        float: none
    }
    .top-bar.social-icon.icons {
        border: none;
        width: 100%
    }
    .top-nav.left-p {
        text-align: center
    }
    .top-searchform.icons,
    .searcharea.closeme {
        display: none
    }
    .top-searchform {
        width: 100%
    }
    .searcharea {
        display: block!important;
        position: static;
        width: 100%;
        margin: 10px 0;
        margin-bottom: 20px;
        background-color: transparent
    }
    .searcharea>div {
        width: 100%
    }
    .searcharea form {
        width: 90%
    }
    .bottom-desk-nav {
        display: none
    }
    .slider-opened {
        width: 80%!important
    }
    main.col-md-12 {
        padding: 0
    }
    .post-thumbnail img {
        width: 100%;
        height: 240px!important
    }
    .post-info>div {
        width: 100%
    }
    .post-options.continue-post,
    .post-options.share-button {
        padding: 0;
        margin-left: 0;
        margin-right: 0
    }
    main.posts-contents {
        border-bottom: 3px groove rgba(0, 0, 0, .1);
        margin-bottom: 30px
    }
    .social-share {
        text-align: left;
        margin-bottom: 10px
    }
    .author-info.author-avatar {
        float: left;
        width: 20%;
        padding-right: 0
    }
    .author-info.author-avatar img {
        width: 46px;
        height: auto
    }
    .author-about {
        float: left;
        width: 80%
    }
    .single-post-content,
    .single-post-info {
        width: 99%
    }
    .social-share,
    .single-post-tags-area {
        width: 100%
    }
    .bottom-bar {
        background: rgba(230, 230, 230, 0.8);
        margin: 0-15px;
        padding: 0 15px
    }
    .slide.author-info-data {
        border-color: initial
    }
    .show-mobile.mobile-nav-title {
        display: inline-block;
        padding: 16px 5px;
        font-size: 18px;
        text-align: center
    }
    .show-mobile.mobile-nav-title:after,
    .mobile-menu nav.menu-item-has-children>a>.mobile-nav-title:after {
        content: '\f0dd';
        font-weight: 900;
        font-family: Font Awesome\ 5 Free;
        padding-left: 5px
    }
    .mobile-menu {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background-color: rgba(0, 0, 0, 0.02)
    }
    .mobile-menu nav {
        margin: 15px 0
    }
    .mobile-menu nav ul ul {
        list-style-type: none;
        margin: 5px 0
    }
    .mobile-menu nav ul li {
        display: block;
        padding: 5px 0
    }
    .mobile-menu nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 16px
    }
    .mobile-menu nav ul li.mobile-nav-title {
        border-bottom: 1px solid rgba(0, 0, 0, .1)
    }
    main article.type-post,
    main article.type-page {
        margin-bottom: 60px
    }
    .related-posts-title {
        padding: 15px
    }
    .related-posts.related-posts-title h2 {
        font-size: 20px!important
    }
    .related-post {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }
    .related-post img {
        height: auto;
        max-height: 210px
    }
    .related-post-title h2 {
        font-size: 20px;
        margin-top: 10px
    }
    .post-navigations {
        margin-top: 30px;
        margin-bottom: 40px
    }
    .scrollTop {
        right: 20px;
        bottom: 50px
    }
    .breadcrumbs {
        width: 95%!important;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px
    }


    /* comments */


    /* comments navigations */
    nav.comment-navigation {
        width: 95%;
    }
    
}
